venv/
env/
.venv/
.env/
virtualenv/
lib/
lib64/
include/


.env
*.env
secrets.ini

pycache/
*.pyc
*.pyo
*.pyd


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
ehthumbs.db


*.log
.pytest_cache/
htmlcov/
pytest-report.html


build/
dist/
*.egg-info/
*.egg


node_modules/
.npm/


*.pt
*.pth
*.bin

models/

data/